

	<!-- ==================================== 
	Contenu Slider 
	=======================================-->
	<section id="slider" class="container">
		<ul class="slider-wrapper">
			<li class="current-slide">
				<%= image_tag("shop/bg1.jpg") %>

				<div class="caption">
					<h2 class="slider-title">ADORABLE</h2>
					<p>De petites boules de poils à adopter et à aimer pour la vie</p>
				</div>
			</li>

			<li>
				<%= image_tag("shop/bg2.jpg") %>

				<div class="caption">
					<h2 class="slider-title">PUR RACE</h2>
					<p>Certifiés et vaccinés par des professionnels du métier</p>
				</div>
			</li>

			<li>
				<%= image_tag("shop/bg3.jpg") %>

				<div class="caption">
					<h2 class="slider-title">ARRIVAGE PERMANENT</h2>
					<p>Nous travaillons avec plusieurs éleveurs de toute la France</p>
				</div>
			</li>
		</ul>
		
		<!-- boutons de navigations -->
		<ul id="control-buttons" class="control-buttons"></ul>
	</section>