
           <div class="container pt90 pb60">
            <div class='row align-items-center'>
                <div class='col-md-7'>
                    <div id="thumbnail">
                 			<img src="<%=@item.image_url%>">
                    </div>
                </div>
                <div class='col-md-5'>
                  <h2><%= @item.title%></h2>
                    <div class='clearfix mb30'>
                        <span class='float-right'>
                            <i class='fa fa-star text-warning'></i>
                            <i class='fa fa-star text-warning'></i>
                            <i class='fa fa-star text-warning'></i>
                            <i class='fa fa-star text-warning'></i>
                            <i class='fa fa-star-half-full text-warning'></i>
                            (12 Reviews)
                        </span>
                        <h4 class='text-info'><%= @item.price%></h4>
                    </div>
                    <p>
                      <%= @item.description%>
                     </p>
                    <form method="post" class="pt20">
                        <h4><small>Quantity</small></h4>
                        <div class="quantity">
                            <input type="button" class="minus" value="-">
                            <input type="text" class="input-text qty text" title="Qty" value="1" name="quantity" min="1" step="1">
                            <input type="button" class="plus" value="+">
                        </div>
                        <button type="button" class="btn btn-primary btn-icon">Add to cart</button>
                    </form>
                </div>
            </div>
            
            <div class="row pt70">
                <div class="col-md-10 ml-auto mr-auto">
                    <div>

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs tabs-default justify-content-center mb30" role="tablist">
                            <li class="nav-item" role="presentation"><a class="active nav-link" href="#t3" aria-controls="#t3" role="tab" data-toggle="tab"> Description</a></li>
                           
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active show fade" id="t3">
                                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
