<h1>BIENVENU SUR BOULE DE POIL !</h1>


<h4>Nous avons bien reçu ta demande d'inscription,<br>
	 et te souhaitons la bienvenue parmis la communauté <br>
     boule de poil !</h4>

<h5>Dans cet espace tu pourras, regarder les chats trop cutes et<br> disponibles en boutique ! Commander ton nouvel ami en un clic !<br>
 Et profitez des conseils de toute la communauté !<br>
</h5>