<footer class="footer footer-standard pt50 pb10">
  <div class="container">
    <div class="row">
      <div class="col-3 mb40">
          <ul class="list-unstyled footer-list-item">
              <li>
                  <a href="#">
                      A propos
                  </a>
              </li>
              <li>
                  <a href="#">
                      News
                  </a>
              </li>
              <li>
                  <a href="#">
                      FAQS
                  </a>
              </li>
              <li>
                  <a href="#">
                      Contact
                  </a>
              </li>
              <li>
                  <a href="#">
                      Term &amp; conditions
                  </a>
              </li>
          </ul>
      </div>

      <div class="col-9 mb40">
        <h3>Inscrivez-vous à notre newsletter</h3>
        <form id="widget-subscribe-form" action="http://bootstraplovers.com/assan3.5/classic-template/html/index.html" role="form" method="post" class="mb0">
            <div class="input-group input-group-lg">

                <input type="email" name="widget-subscribe-form-email" class="form-control required" placeholder="Enter your Email">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Souscrire</button>
                </span>
            </div>
        </form>
        <div class="row pt30">
            <div class="col-sm-6">
                <p class="contact-lead">
                    <small>Appelez-nous</small>
                    <br>+01 123-493-2949
                </p>
            </div>
             <div class="col-sm-6">
                <p class="contact-lead">
                    <small>Contactez-nous</small>
                    <br>contact@boulesdepoils.com
                </p>
            </div>
        </div>
      </div>
    </div>
  </div>
</footer>